.nav-item {
  list-style-type: none;
}

.nav-item a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: $color-white;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgb(255 255 255 / 30%);
  font-size: $font-size-large;

  &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      color: transparent;
      content: "•";
      text-shadow: transparent 0px 0px;
      font-size: 1.2em;
      transform: translateX(-50%);
      pointer-events: none;
      transition: text-shadow 0.3s ease 0s, color 0.3s ease 0s;
  }

  &.router-link-exact-active, &:hover, &:focus {  
      color: $color-primary;

      &::after {
          color: #fff;
          text-shadow: 10px 0 #fff, -10px 0 #fff;
      }
  }
}